DB_SERVER=YOUR_SERVER_NAME_HERE
DB_DATABASE=GameTask
DB_TRUSTED_CONNECTION=true
DB_TRUST_SERVER_CERTIFICATE=true

DATABASE_URL=postgresql://neondb_owner:npg_u9NjCpqvftr0@ep-misty-union-apusmx7s-pooler.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

//REMOVE .example extension when running code and replace YOUR_SERVER_NAME_HERE
